.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper{
  background-color: rgb(187, 141, 201);
  min-width: 250px; 
  max-width: auto;
  max-height: 50vh;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 4px 4px 0 rgba(3, 3, 3, 0.5);
  Overflow-y: auto;
}

.input-wrapper{
  border-bottom: 2px solid rgb(88, 81, 81);
  height: 70px;
  /* width: 250px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input{
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
}

.input-wrapper button{
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px 9px;
  font-weight: 700;
}